<head>
    {% load static %}
    <link href="{% static 'tinymce/css/prism.css' %}" rel='stylesheet'>
    <!-- Compiled and minified CSS -->
    <link href="{% static 'main/css/materialize.css' %}" rel='stylesheet'>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>

    {% include "main/includes/navbar.html" %}

    {% include "main/includes/messages.html" %}

    <!-- <h2>{{ user.get_full_name }}</h2>
    <ul>
      <li>Username: {{ user.username }}</li>
      <li>Location: {{ user.profile.location }}</li>
      <li>Birth Date: {{ user.profile.birth_date }}</li>
      <li>Profile Bio: {{ user.account.bio|linebreaksbr }}</li>
    </ul>

    <div class="col-md-8">
        {{ token_infos }}
        <p> {{ accounts }}
        <p> {{ balance_musquash }}
        <p> {{ test_wallet }}
    </div> -->

    <div class='container'>
        <br>
            <table class="striped">
              <thead>
                  <tr>
                    <th>Wallet Address</th>
                    <th>Wallet Name</th>
                    <th>Wallet Symbol</th>
                    <th>Funds</th>
                  </tr>
              </thead>

              <tbody>
                {% for wallet in wallets %}
                    {{ user.username }}
                    <p>{{ wallet.admin }}
                    {% if user.username == wallet.admin %}
                        <tr>
                          <td>{{ wallet.wallet_address }}</td>
                          <td>{{ wallet.type }}</td>
                          <td>{{ wallet.symbol }}</td>
                          <td>$ {{ wallet.balance }} </td>
                        </tr>
                    {% endif %}
                {% endfor %}
              </tbody>
            </table>

    </div>


</body>

<script src="{% static 'tinymce/js/prism.js' %}"></script>
