<head>
    {% load static %}
    <link href="{% static 'tinymce/css/prism.css' %}" rel='stylesheet'>
    <!-- Compiled and minified CSS -->
    <link href="{% static 'main/css/materialize.css' %}" rel='stylesheet'>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <!-- Compiled and minified JavaScript -->
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>

    {% include "main/includes/navbar.html" %}

    {% include "main/includes/messages.html" %}

    <div class='container'>
        <br>
        {% block content %}
        {% endblock %}
    </div>

</body>

<script src="{% static 'tinymce/js/prism.js' %}"></script>
