{% extends "main/header.html" %}

{% block content %}

    <div class="row">
      {% for tut in tutorials %}
        <div class="col s12 m6 l4">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">{{ tut.tutorial_title }}</span>
                  <p style="font-size:70%">{{ tut.tutorial_published }}</p>
                  <p>{{ tut.tutorial_content|safe }}</p>

                  <br><br>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
    {% endfor %}
    </div>

</body>

{% endblock %}
