{% extends "main/eth.html" %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ account_form.as_p }}
        <button type="submit">Save changes</button>
    </form>

{% endblock %}
