{% extends "values/base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        <div class='container'>
            <br>
                <table class="striped">
                  <thead>
                      <tr>
                        <th>Wallet Address</th>
                        <th>Wallet Name</th>
                        <th>Wallet Symbol</th>
                        <th>Funds</th>
                      </tr>
                  </thead>

                  <tbody>
                    {% for wallet in wallets %}
                        <tr>
                          <td>{{ wallet.address }}</td>
                          <td>{{ wallet.type }}</td>
                          <td>{{ wallet.symbol }}</td>
                          <td>$ {{ wallet.balance }} </td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>

        </div>

        <p></p><p></p><p>

            <div class="row">
              {% for contract in contract_addresses%}
                <div class="col s12 m6 l5">
                  <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                      <span class="card-title"> {{ contract.symbol }} {{ contract.name }} </span>
                          <p style="font-size:70%">{{ contract.address }}</p>
                          <p style="font-size:70%">{{ contract }}</p>
                          <br><br>
                    </div>
                    <div class="card-action">
                      <a href="#">This is a link</a>
                      <a href="#">This is a link</a>
                    </div>
                  </div>
                </div>
            {% endfor %}
            </div>
    {% endif %}

</body>

{% endblock %}
