{% extends "values/base.html" %}

{% block content %}

    <form method="post">
        {% csrf_token %}
        <!-- {{ form.as_p }} <!-- as paragraph --> -->
        <table>
           {{ form.as_table }}
            <tr>
               <td></td>
               <td><input class='btn' type="submit" name="submit" value="Register" /></td>
           </tr>
        </table>
        <!-- <button class='btn' type="submit">register</button> -->
    </form>

    If you are already registered you may want to go to <a href="/login">Login</a>.

{% endblock %}
